 
<link rel="stylesheet" href="/stylesheets/style.css" />

 <section class="employee-section">
      <div>
            <button class="prominent" id="add-driver-btn">ADD New Driver</button>
            <div>
              <img class="search-img" src="/images/search.svg" alt="">
               <input type="search" name="" id="" placeholder="search for person">
               <button>search</button>
            </div>
      </div>
   
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>E-mail</th>      
      <th>Vehicle</th>
    
    </tr>

{{#each userData}}
    <tr>
      <td>{{username}}</td>
      <td>{{name}}</td>
      <td>{{lastName}}</td>
      <td>{{phone}}</td>
      <td>{{email}}</td>
      <td>{{vehicle.model}}</td>

      {{!-- <td>
        <select name="vehicle" id="vehicle">
          {{#each ../vehicleData}}
           
           <option value="{{_id}}">
            {{license}}-
            {{model}}
           </option>
           {{/each}}  
        </select>
      </td> --}}

      <td><button class="secondary-btn">
        <a href="/employee/edit/{{_id}}">EDIT</a>
        </button></td>
      <td><button class="secondary-btn">
        <a href="/employee/edit/{{_id}}"></a>
        DELETE</button></td>
    </tr>

  {{/each}}  

  </table>
  </div>




<div id="add-driver"  style="display:none" >
<form action="/employee" method="POST">

	 <label for="">Username: </label>
	 <input type="text" name="username">

	 <label for="">Password: </label>
	 <input type="password" name="password">

    <label for="">Name: </label>
    <input type="text" name="name">

    <label for="">LastName: </label>
    <input type="text" name="lastName">

    <label for="">Street: </label>
    <input type="text" name="street">

    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Phone: </label>
    <input type="numbder" name="phone">

    <button type="submit">ADD</button>

    	{{#if message}}
		<h3>{{message}}</h3>
	{{/if}}

</form>
</div>


</section>








 
<script src="/js/script.js"></script>
