<link rel="stylesheet" href="/stylesheets/style.css" />
<section class="employee-section">
  <div class="employee-header">
    <button class="prominent" id="add-driver-btn">ADD New Driver</button>
    <div>

      <input type="search" name="" id="" placeholder=" search for person" />
      
      <button class="td-btn">
              <a href="/search"> <i class="fa fa-search" style="font-size:25px"></i> </a>
              </button>
    </div>
  </div>
  <hr />
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>E-mail</th>
        <th>Vehicle</th>

      </tr>

      {{#each userData}}
        <tr>
          <td>{{username}}</td>
          <td>{{name}}</td>
          <td>{{lastName}}</td>
          <td>{{phone}}</td>
          <td>{{email}}</td>
          <td>{{vehicle.model}}</td>

          {{!-- <td>
        <select name="vehicle" id="vehicle">
          {{#each ../vehicleData}}
           
           <option value="{{_id}}">
            {{license}}-
            {{model}}
           </option>
           {{/each}}  
        </select>
      </td> --}}

          <td><button class="td-btn">
              <a href="/employee/edit/{{_id}}"><i class="fa fa-edit" style="font-size:25px"></i></a>
            </button></td>
          <td><button class="td-btn">
              <a href="/employee/edit/{{_id}}"> <i class="fa fa-trash" style="font-size:25px"></i> </a>
              </button></td>
        </tr>

      {{/each}}

    </table>
  </div>
<hr>
  <div id="add-driver" style="display:none">
    <form action="/employee" method="POST">

      <tr>
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="lastname" placeholder="Lastname"/>
        <input type="text" name="phone" placeholder="Phone"/>
        <input type="text" name="email" placeholder="E-Mail"/>

      </tr>
<button type="submit" class="td-btn">
               <i class="fa fa-plus" style="font-size:25px"></i> </a>
              </button>

      {{#if message}}
        <h3>{{message}}</h3>
      {{/if}}

    </form>
  </div>

</section>

<script src="/js/script.js"></script>