 
<link rel="stylesheet" href="/stylesheets/style.css" />

 <section class="employee-section">
      <div class="employee-section-div">
            <button class="prominent">NEW</button>
            <div>
            
               <input type="search" name="" id="" placeholder="search for person">
               <button>search</button>
            </div>
      </div>
   <hr>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>E-mail</th>      
      <th>Vehicle</th>
    
    </tr>

{{#each userData}}
    <tr>
      <td>{{username}}</td>
      <td>{{name}}</td>
      <td>{{lastName}}</td>
      <td>{{phone}}</td>
      <td>{{email}}</td>

      <td>
        <select name="vehicle" id="vehicle">
          {{#each vehicleData}}
           
           <option value="{{_id}}">
            {{_id}}
           </option>
           {{/each}}  
        </select>
      </td>

      <td class=""><button class="secondary-btn">EDIT</button></td>
      <td class="btn-table"><button class="secondary-btn">DELETE</button></td>
    </tr>

  {{/each}}

  </table>
  </div>
  </section>
<form action="/signup" method="POST">

    <input class="input" type="text" name="username" placeholder=" Username"/><br />

    <input class="input" type="password" name="password" placeholder=" Password"/><br />

    <input class="input" type="text" name="name" placeholder=" Name"/><br />

    <input class="input" type="text" name="lastName" placeholder=" Last Name"/><br />

    <input class="input" type="text" name="street" placeholder=" Street"/><br />

    <input class="input" type="text" name="email" placeholder=" E-Mail"/><br />

    <input class="input" type="number" name="phone" placeholder=" Phone"/><br />

    <button class="signup-btn"><a href="/">HomePage</a></button>

    <button class="signup-btn" type="submit">Sign Up</button>

