 
<link rel="stylesheet" href="/stylesheets/style.css" />

 <section class="employee-section">
      <div>
            <button class="prominent">NEW</button>
            <div>
              <img class="search-img" src="/images/search.svg" alt="">
               <input type="search" name="" id="" placeholder="search for person">
               <button>search</button>
            </div>
      </div>
   
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>E-mail</th>      
      <th>Vehicle</th>
    
    </tr>

{{#each userData}}
    <tr>
      <td>{{username}}</td>
      <td>{{name}}</td>
      <td>{{lastName}}</td>
      <td>{{phone}}</td>
      <td>{{email}}</td>

      <td>
        <select name="vehicle" id="vehicle">
          {{#each vehicleData}}
           
           <option value="{{_id}}">
            {{_id}}
           </option>
           {{/each}}  
        </select>
      </td>

      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>

  {{/each}}

  </table>
  </div>
  </section>

